html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

body {
    margin: 0;
    background-color: grey;
}

header {
    color: black;
    text-align: center;
    background-color: rgb(255, 242, 62);
    padding: 5vh;
    font-size: 7vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10vh;
    gap: 10vh;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    background-color: white;
    font-size: 8vh;
}

.field:hover {
    background-color: rgb(255, 242, 62);
}

#restart-button {
    background-color: rgb(255, 242, 62);
    padding: 1.5vh;
    border-radius: 15px;
    font-size: 3vh;
    border: none;
}

#restart-button:active {
    position: relative;
    top: 5px;
}
